.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 23px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__logo__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__items-and-icons__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer__items__container {
    display: flex;
    flex-grow: 1;
    gap: 60px;
    margin-left: 115px;
}

.footer__icons__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__reproductions,
.footer__new,
.footer__about {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer__number__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__number {
    font-size: 20px;
    font-weight: 500;
}

.footer__number__text {
    font-size: 18px;
    color: #86928B;
}

.footer__icons__text__container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer__icons__text {
    font-size: 12px;
    line-height: 120%;
    color: #86928B;
}

.footer__icons {
    display: flex;
    gap: 30px;
}

footer a {
    color: #86928B;
    font-size: 18px;
    line-height: 150%;
}

footer h3 {
    font-size: 20px;
}

.logo__mobil {
    display: none;
}

.footer__number__container__mobil {
    display: none;
}

@media (max-width: 1280px) {

    .footer__items__container {
        margin-left: 85px;
        gap: 35px;
    }
}

@media (max-width: 1024px) {
    .footer__items__container {
        margin-left: 50px;
        gap: 20px;
    }
}

@media (max-width: 912px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer__logo__container {
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    .footer__items__container {
        margin-left: 0;
        gap: 20px;
    }

    .footer__icons__container {
        margin-right: 35px;
    }
}

@media (max-width: 820px) {
    .footer__items__container a {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .footer__items-and-icons__container {
        flex-direction: column;
    }

    .footer__items__container {
        justify-content: space-between;
    }

    .footer__icons__container {
        align-items: center;
        width: 100%;
    }

    .footer__icons__text__container {
        display: flex;
        flex-direction: row;
    }

    .footer__icons_text__container p {
        display: inline;
    }
}

@media (max-width: 460px) {
    .footer__logo__container {
        display: none;
    }

    .footer__items__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
    }

    .logo__mobil {
        display: flex;
        align-items: center;
        grid-column: span 2;
        gap: 8px;
    }

    .footer__number__container__mobil {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer__number {
        font-size: 16px;
    }

    .footer__reproductions h3:first-child {
        font-size: 16px;
    }
}

@media (max-width: 350px) {}