.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_menu_btn {
    display: none;
}

.logo_text {
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
}

.navigation {
    display: flex;
    gap: 60px;
}

.navigation_element {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
}

.header_nav_items:hover {
    color: #598D66;
}

@media (max-width: 912px) {
    .navigation_element {
        font-size: 18px;
    }
}

@media (max-width: 708px) {
    .header_container {
        flex-direction: column;
        padding: 0;
    }

    .navigation {
        width: 100%;
        justify-content: space-between;
        margin: 16px 0;
    }

    .logo {
        padding: 22px 0;
    }
}

@media (max-width: 460px) {
    .header_nav_items {
        display: none;
    }

    .header_menu_btn {
        display: block;
    }

    .navigation {
        justify-content: space-between;
        padding: 0 15px;
    }

    .logo {
        background: #ffffff;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header_container {
        margin: 0 -15px;
    }
}