.preview {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 69px;
}

.preview__img__container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.preview__img__container img {
    width: 100%;
    height: auto;
}

.preview__text-and-button__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.preview__text__container {
    display: flex;
    flex-direction: column;
}

.preview__text {
    max-height: 331px;
}

.preview__text__big {
    color: #2C2D35;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
}

.preview__text__green {
    color: #598D66;
}

.preview__text__small {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 20px;
}

.preview__text__button {
    padding: 20px 60px;
    background: none;
    border: 1px solid #598D66;
    font-size: 20px;
    font-weight: 500;
    color: #598D66;
}

.preview__text__button:hover {
    background: #598D66;
    color: #F4F6F5;
}

@media (max-width: 1280px) {
    .preview__text__big {
        font-size: 50px;
    }
}

@media (max-width: 1024px) {
    .preview__text__big {
        font-size: 45px;
    }

    .preview__text-and-button__container {
        gap: 50px;
    }

    .preview {
        gap: 20px;
    }
}

@media (max-width: 912px) {
    .preview__text__big {
        font-size: 40px;
    }

    .preview__text-and-button__container {
        gap: 40px;
    }
}

@media (max-width: 820px) {
    .preview__text__button {
        font-size: 18px;
    }

    .preview__text-and-button__container {
        gap: 30px;
    }

    .preview__text__big {
        font-size: 36px;
        line-height: 100%;
    }

    .preview__text__small {
        font-size: 16px;
        margin-top: 10px;
    }

    .preview__img__container {
        gap: 11px;
    }

    .preview__text__button {
        font-size: 18px;
    }
}

@media (max-width: 708px) {

    .preview__img__container {
        margin-top: 50px;
    }

    .preview__text-and-button__container {
        gap: 20px;
    }

    .preview {
        margin-bottom: 50px;
    }

}

@media (max-width: 650px) {
    .preview__text-and-button__container {
        gap: 10px;
    }

    .preview__img__container {
        margin-top: 50px;
    }
}

@media (max-width: 570px) {
    .preview__text__big {
        font-size: 30px;
    }

    .preview__text__small {
        font-size: 14px;
    }
}

@media (max-width: 460px) {
    .preview__img__container {
        display: none;
    }

    .preview__text-and-button__container {
        margin-top: 60px;
        gap: 20px;
    }

    .preview__text_button__container {
        margin-top: 20px;
    }

    .preview {
        margin-bottom: 50px;
    }
}