.team {
    display: flex;
    padding: 70px 15px;
    /* align-items: center; */
    gap: 30px;
}

.team__img__container {
    flex: 2;
    display: flex;
    align-items: center;
}

.team__img__container img {
    width: 100%;
    height: auto;
}

.team__text__container {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    padding: 44px 0;
}

.team__text__header {
    color: #2C2D35;
    font-size: 40px;
    line-height: 110%;
}

.team__text {
    color: #2C2D35;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
}

.team__text__icons__container {
    display: flex;
    gap: 30px;
}

@media (max-width: 1280px) {
    .team {
        gap: 25px;
    }

    .team__text__header {
        font-size: 35px;
    }

    .team__text__icons__container {
        gap: 25px;
        max-height: 70px;
    }

    .team__text__container {
        padding: 30px 0;
    }
}

@media (max-width: 1024px) {
    .team {
        gap: 15px;
    }

    .team__text__header {
        font-size: 30px;
    }

    .team__text__icons__container {
        gap: 20px;
        max-height: 60px;
    }

    .team__text__container {
        padding: 0;
    }

}

@media (max-width: 820px) {
    .team {
        flex-direction: column;
    }

    .team__img__container {
        width: 75%;
    }

    .team__text__icons__container {
        gap: 30px;
        max-height: max-content;
    }

    .team__text__container {
        margin-top: 20px;
    }
}

@media (max-width: 650px) {
    .team__text {
        font-size: 16px;
    }

    .team__img__container {
        width: 85%;
    }
}

@media (max-width: 460px) {
    .team__img__container {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .team__text__icons__container {
        height: 65px;
        gap: 10px;
        justify-content: center;
    }
}